@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap'); 

/* apply on all pages */
.App{
  background-color: #ecf0f1; 
  font-family: 'Montserrat', sans-serif;
}

#nav-bar{
  background-color: #0a1612; 
}

.nav-bar-tab{
  color: white;
  display: inline-block;
  padding: 20px;
}

.nav-bar-tab:hover{
  background-color:#525458 ;
}
/* ------------------- */


/* Landing Page  */
#landing-page-container{
  background: url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100vw 100vh; 
  width: 98vw;
  height: 86vh;
  text-align: center;
}

#landing-page-header{
  font-size: 3em;
  padding-top:30vh;
}
/* ------------------- */
/* Clients Page */
#clients-table-headers{
  background-color: #F7CE3E; 
  box-shadow: #0a1612 1px 1px 15px;
}

#clients-table-headers{
  display: grid;
  width: 90vw;
  grid-template-columns: repeat(7 ,1fr);
  font-weight: bold;
  margin:auto;
}

.client{
  display: grid;
  width: 90vw;
  grid-template-columns: repeat(7 ,1fr);
  margin:auto;
  border-bottom: 1px solid #d3d3d3;
}


.popup-content{
  background-color:rgba(17, 16, 16, 0.856) !important; 
  width:400px !important;
  height: 200px !important;
  border-radius: 15px;
}




.popup-item{
  margin-top: 15px;
  margin-left:20px;
}

#add-client-button{
  margin:20px;
  padding: 10px;
  background: #F7CE3E;
  font-weight: bold;
  width:200px;
  text-align: center;
  cursor: pointer;
  box-shadow: 1px 1px 10px;
}

#user-icon{
  background-color:#e74c3c;
}

#globe-icon{
  background-color:#f1c40f;
}







  
  
  
  
 


  
 
  
  
        